---
import BaseLayout from './layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="MR MONEY WITH THE VIBEZ!">
<div class="intro-image">
<div class="asake-banner">
  <img src="/asake-hero.jpg" alt="Asake image" />
</div>

<section class="asake-info">
  <p>
    Vibez? Check
    <br>Energy? Unmatched
    <br>Hit and bangiging music? Always!
    <br>Welcome to your one stop for everything Asake. <br> A space that connect true fans to the
    journey, the inspiring moments, the amazing music plus the vibez that never miss!. 
  </p>  
</section>
</div>
</BaseLayou